body {
    color: rgb(255, 255, 255);
    font-family: 'poppins';
    background-color: black;

}

.navbar {

    background-color: black !important;
    padding: 0.5rem 1rem;
}

.banner {
    background-color: black !important;
}

.nav-link {
    color: white !important;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}


.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: rgb(180, 14, 14);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:hover {
    background-color: rgb(180, 14, 14, 0.1);
    color: rgb(180, 14, 14);
}

.nav-link:hover::after {
    transform: scaleX(1);
}


.navbar-brand img {
    max-height: 50px;
}

.navbar-brand {
    color: white !important;
}

.navbar-toggler-icon {
    color: white !important;

}


.main-img {
    background-image: url(img/foodmainbg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 550px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.info-container {
    background-color: black;
    height: auto;

}


.nav-list {}

.main-text-container {
    padding-top: 190px;
}

.top-sub {
    font-size: 20px;
}

.main-title {
    font-weight: bold;
    font-size: 30px;

}

.bot-sub {
    font-size: 20px;
}

.btn-main {
    height: 40px;
    width: 120px;
    background-color: rgb(233, 191, 4);
    border-color: rgb(233, 191, 4);
color: black;
    font-size: 12px;
    font-weight: bold;
}

.construction{
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

.sub-title-cons{
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

.btn-cons{
    height: 40px;
    width: 120px;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(233, 191, 4);
    border-color: rgb(233, 191, 4);
    color: black;
    font-size: 12px;
    font-weight: bold;
}
  

.cons-container{
    margin-top: 120px;
}
