body {
    color: rgb(255, 255, 255);
    font-family: 'poppins';
    background-color: black;

}

.navbar {

    background-color: black !important;
    padding: 0.5rem 1rem; 
}

.banner {
    background-color: black !important;
}

.nav-link {
    color: white !important;
    margin-left: 20px;
    margin-right: 20px;
    position: relative; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; 
}


.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: rgb(180, 14, 14); 
    transform: scaleX(0);
    transition: transform 0.3s ease; 
}

.nav-link:hover {
    background-color: rgb(180, 14, 14, 0.1); 
    color: rgb(180, 14, 14); 
}

.nav-link:hover::after {
    transform: scaleX(1); 
}


.navbar-brand img {
    max-height: 50px; 
}

.navbar-brand {
    color: white !important;
}

.navbar-toggler-icon {
    color: white !important;

}

/* video bg */
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .black-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .main-text-container {
    padding-top: 350px;
    position: relative;

}

.top-sub {
}

.main-title {
    font-weight: bold;
    font-size: 80px;

}

.btn-main {
    height: 40px;
    width: 180px;
    background-color: rgb(180, 14, 14);
    border-color: rgb(180, 14, 14);
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}

/* .bottom-img{
    text-align: center;
    margin-top: 250px;
    position: relative;

} */

.credits{
    text-align: center;
    font-size: 8px;
   margin-top: 265px;
   position: relative;

}

